<section class="w-50 mx-auto my-5 rounded shadow p-4" *ngIf="cartItems ; else msg">
    <div class="d-flex align-items-center justify-content-between">
        <h3 class="text-capitalize mb-3 fw-bold">shop cart</h3>
        <button (click)="clearAll()"  class="text-capitalize btn btn-sm btn-outline-danger"> <i class="fa-solid fa-trash"></i> clear all</button>
    </div>

    <span class="text-capitalize text-main fw-bolder me-3">Number Of Items: {{cartItems.products.length}}</span>
    <span class="text-capitalize text-main fw-bolder">total price: {{cartItems.totalCartPrice  | currency}}</span>
    <div class="row border-bottom py-2" *ngFor="let item of cartItems.products">
        <div class="col-md-1">
            <img [src]="item.product.imageCover" class="w-100" [alt]="item.product.category.name">
        </div>
        <div class="col-md-11 d-flex align-items-center justify-content-between">
            <div>
                <h5 class="fw-bold">{{item.product.title}}</h5>
                <p class="text-main mb-0">{{item.price | currency}}</p>
                <button  class="btn btn-outline-danger btn-sm mt-3" #btnRemove (click)="deleteItem(item.product._id , btnRemove)"> <i class="fa-solid fa-trash"></i> Remove</button>
            </div>
            <div>
                <button #btn1 (click)="changeCouunt(item.count + 1 , item.product._id ,btn1,btn2)" class="btn btn-outline-success btn-sm">+</button>
                <span class="fw-bold mx-2">
                    {{item.count}}
                </span>
                <button #btn2 (click)="changeCouunt(item.count - 1 , item.product._id,btn2,btn1)" class="btn btn-outline-success btn-sm">-</button>
            </div>
        </div>
    </div>
    <button class="btn btn-outline-success mt-3 text-capitalize" [routerLink]="['/payment',cartItems._id]">online payment <img src="./assets/img/visa.png" alt="visa" width="40px"></button>
</section>
<ng-template #msg>
   <h1 class="text-center text-main text-capitalize p-5"> no data to show... </h1>
</ng-template>