<footer class="bg-main-light py-4">
  <div class="container">
    <h2 class="text-capitalize">get the freshCart app</h2>
    <p class="text-muted">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, placeat!
    </p>
    <div class="d-flex align-items-center justify-content-around pb-3">
      <input class="form-control w-75" placeholder="Email..." type="email" />
      <button class="btn main-btn">share app link</button>
    </div>
    <hr />
    <div class="text-center fw-bolder pt-3">
      All Rights Reserved &copy; Mohamed Hamdy
    </div>
    <li class="nav-item d-flex justify-content-center mt-3 gap-3">
      <a
        href="https://www.linkedin.com/in/mohamed-hamdy-6662b3168/"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin-in fa-xl"></i>
      </a>
      <a
        href="https://github.com/mohamedhamdy95/angular-Ecommerce-standalone"
        target="_blank"
      >
        <i class="fa-brands fa-github fa-xl"></i>
      </a>
      <a href="">
        <i class="fab fa-facebook fa-xl"></i>
      </a>
    </li>
  </div>
</footer>
