
    <footer class=" bg-main-light py-4">
        <div class="container">
            <h2 class="text-capitalize">get the freshCart app</h2>
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, placeat!</p>
            <div class="d-flex align-items-center justify-content-around pb-3">
                <input class="form-control w-75" placeholder="Email..." type="email">
                <button class="btn main-btn">share app link</button>
            </div>
            <hr>
            <div class="text-center fw-bolder pt-3">
                &copy;  All Rights Reserved 
            </div>
        </div>
        </footer>