<section class="p-5 my-5 shadow rounded-5 w-50 m-auto forget" *ngIf="step1" >
    <h1 class="text-capitalize my-3">forget <span class="text-main">password</span></h1>
    <form [formGroup]="forgetPassForm" (ngSubmit)="forgetPassword()">
        <div class="form-item mb-3">
            <label for="email" class="text-capitalize mb-2">enter your email :</label>
            <input type="email" formControlName="email" class="form-control" id="email">
        </div>
        <button [disabled]=""class="main-btn">send code <span *ngIf="" ><i class="fa-solid fa-spinner fa-spin"></i></span>
        </button>
    </form>
</section>
<section class="p-5 my-5 shadow rounded-5 w-50 m-auto forget"*ngIf="step2" >
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCodeFun()">
        <div class="form-item mb-3">
            <label for="resetCode" class="text-capitalize mb-2">Reset Code :</label>
            <input type="text" formControlName="resetCode" class="form-control" id="resetCode">
        </div>
        <button [disabled]=""class="main-btn">Reset Code <span *ngIf="" ><i class="fa-solid fa-spinner fa-spin"></i></span>
        </button>
    </form>
</section>
<section class="p-5 my-5 shadow rounded-5 w-50 m-auto forget"*ngIf="step3" >
    <h1 class="text-capitalize my-3">reset <span class="text-main">password</span></h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetpass()">
        <div class="form-item mb-3">
            <label for="password" class="text-capitalize mb-2">your new password :</label>
            <input type="password" formControlName="newPassword" class="form-control" id="password">
        </div>
        <button [disabled]=""class="main-btn">Reset Password<span *ngIf="" ><i class="fa-solid fa-spinner fa-spin"></i></span>
        </button>
    </form>
</section>
