:host{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-sec{
    padding-top: 60px;
}

.btn-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0aad0a;
    color: white;
    border: none;
    z-index: 99;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}