/* You can add global styles to this file, and also import other style files */

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

  $bgColor:#0aad0a;
  $lightBgColor:#f0f3f2;
  $shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
  $fontFamily:'Encode Sans Expanded', sans-serif;
  $ratingColor:#ffc908;

::-webkit-scrollbar{
  width: 14px;
}
::-webkit-scrollbar-track{
  background-color: $lightBgColor;
}
::-webkit-scrollbar-thumb{
  background-color: $bgColor;
  border-radius: 8px;
}
body{
font-family: $fontFamily;
}
.rating-color
{
  color:$ratingColor;
}
.activeL{
  color: white !important;
  background-color: $bgColor !important;
  border-radius:  5px !important;
}
.cursor-pointer
{
    cursor: pointer;
}
.product{
  border: 1px solid $bgColor;
  border-radius: 5px;
  padding: 4px;
  box-shadow: $shadow;
}
.product:hover{
box-shadow: $shadow !important;
border:1px solid $bgColor !important;
}
.product .btn{
  opacity: 0 !important;
  transition:transform .5s ,opacity .5s !important;
  transform: translateY(100%) !important;
}
.product:hover .btn{
  opacity: 1 !important;
  background-color: $bgColor !important;
  color: white;
  transform: translateY(0%) !important;
  &:disabled{
    background-color: #045004;
    color: black;
}
}
a , a:hover{
  color: black;
  text-decoration: none;
}
.text-main
{
    color:$bgColor;
}
.font-sm
{
    font-size: 10px;
}
.bg-main
{
    background-color:$bgColor !important;
}
.bg-main-light
{
    background-color: $lightBgColor !important;
}
.main-btn{
  background-color: $bgColor;
  color: white;
  border-radius: 5px;
  border: unset;
  cursor: pointer;
  padding: 4px 8px;
  &:disabled{
    background-color: #045004;
    color: rgb(197, 196, 196);
    cursor: not-allowed;
}
}
